{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .container {
            width: 16rem;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="pure-form pure-form-stacked" action="{{ path('security_login_check') }}" method="post">
            <fieldset>
                <legend>Se connecter</legend>

                <label for="username">Username</label>
                <input id="username" name="_username" type="text" placeholder="Username">

                <label for="password">Password</label>
                <input id="password" name="_password" type="password" placeholder="Password">
                <br>
                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
